services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: employeedb
      POSTGRES_USER: spring-person-db
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U spring-person-db" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    environment:
      DB_URL: r2dbc:postgresql://postgres:5432/employeedb
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      FLYWAY_URL: jdbc:postgresql://postgres:5432/employeedb
      FLYWAY_ENABLED: ${FLYWAY_ENABLED}
      ADMIN_USERNAME: ${ADMIN_USERNAME}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
      SERVER_PORT: ${SERVER_PORT}
      LOG_LEVEL: ${LOG_LEVEL}
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
