spring:
  application:
    name: employee-management-api
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/employeedb
    password: ${DB_PASSWORD}
  flyway:
    url: jdbc:postgresql://localhost:5432/employeedb
    user: spring-person-db
    password: ${DB_PASSWORD}
  sql:
    init:
      mode: never
  security:
    user:
      name: admin
      password: ${ADMIN_PASSWORD}
      roles: ADMIN
  jpa:
    defer-datasource-initialization: false
  main:
    lazy-initialization: false

server:
  port: 8080
  error:
    include-message: on_param
    include-binding-errors: on_param
    include-stacktrace: never
  compression:
    enabled: true
    mime-types: application/json,text/plain,text/html

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

logging:
  level:
    com.start.demo: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    reactor.netty.http.client: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

jwt:
  # CHANGE IN PRODUCTION
  secret: ${JWT_SECRET}
  # token expiration in milliseconds
  expiration: ${JWT_EXPIRATION:86400000}

